<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <biosys-breadcrumbs [items]="breadcrumbItems"></biosys-breadcrumbs>
    <p-growl [value]="messages"></p-growl>
    <div class="row mt-3">
        <div class="col-md">
            <div class="mb-1">
                <h3 *ngIf="project.id">Project Details</h3>
                <h3 *ngIf="!project.id">Create Project</h3>
                <p *ngIf="project.id">
                    Edit details of the project by clicking the edit button below. You can also create/edit datasets
                    and sites for the project through the tables below. Note that fields in <strong>bold</strong> are
                    mandatory.
                </p>
                <p *ngIf="!project.id">
                    Create a new project by entering the details below project and click the save butten when complete.
                    You will then be able to create/import datasets and sites for the project. Note that fields in
                    <strong>bold</strong> are mandatory.
                </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-1">
                        <div class="col-md-3">
                            <strong *ngIf="isEditing">Title</strong><label *ngIf="!isEditing">Title</label>
                        </div>
                        <div class="col-md-5">
                            <label [hidden]="isEditing">{{project.title}}</label>
                            <input [hidden]="!isEditing" type="text" pInputText [(ngModel)]="project.title" size="21"/>
                        </div>
                        <div [hidden]="!isEditing" class="col-md-4 text-danger">{{projectErrors['title']}}</div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-3">Code</div>
                        <div class="col-md-5">
                            <label [hidden]="isEditing">{{project.code}}</label>
                            <input [hidden]="!isEditing" type="text" pInputText [(ngModel)]="project.code" size="21"/>
                        </div>
                        <div [hidden]="!isEditing" class="col-md-4 text-danger">{{projectErrors['code']}}</div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-3">Default Datum</div>
                        <div class="col-md-5">
                            <label [hidden]="isEditing" *ngIf="project.datum">{{getDatumLabel(project.datum)}}</label>
                            <p-dropdown [hidden]="!isEditing" [options]="datamTypeChoices"
                                        [(ngModel)]="project.datum" [ngModelOptions]="{standalone: true}"
                                        autoWidth="false" styleClass="w-100">
                            </p-dropdown>
                        </div>
                        <div [hidden]="!isEditing" class="col-md-4 text-danger">{{projectErrors['datum']}}</div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-3">
                            <strong *ngIf="isEditing">Timezone</strong><label *ngIf="!isEditing">Timezone</label>
                        </div>
                        <div class="col-md-5">
                            <label [hidden]="isEditing">{{project.timezone}}</label>
                            <input [hidden]="!isEditing" type="text" pInputText [(ngModel)]="project.timezone"
                                   size="21"/>
                        </div>
                        <div [hidden]="!isEditing" class="col-md-4 text-danger">{{projectErrors['timezone']}}</div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-3">
                            <strong *ngIf="isEditing">Custodians</strong><label *ngIf="!isEditing">Custodians</label>
                        </div>
                        <div class="col-md-5">
                            <label [hidden]="isEditing">{{getSelectedCustodiansLabel(project.custodians)}}</label>
                            <p-multiSelect [hidden]="!isEditing" *ngIf="custodianChoices" [options]="custodianChoices"
                                           [(ngModel)]="project.custodians" styleClass="w-100"></p-multiSelect>
                        </div>
                        <div [hidden]="!isEditing" class="col-md-4 text-danger">{{projectErrors['custodians']}}</div>
                    </div>
                    <button [hidden]="isEditing" pButton icon="fa-pencil-square-o" label="Edit"
                            (click)="editProject()"></button>
                    <button [hidden]="!isEditing || !project.id" pButton icon="fa-close" label="Cancel"
                            (click)="cancelEditProject()"></button>
                    <button [hidden]="!isEditing" pButton icon="fa-save" label="Save" (click)="saveProject()">
                    </button>
                </div>
                <div class="col-md-6">
                    <label>Extent</label>
                    <div>
                        <biosys-featuremap [isEditing]="isEditing" [geometry]="project.geometry"></biosys-featuremap>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr *ngIf="project.id" class="mt-3"/>
    <div *ngIf="project.id" class="row mt-1">
        <div class="col-md">
            <h4>Datasets</h4>
            <p-dataTable [value]="datasets" [paginator]="true" [rows]="10" [responsive]="true">
                <p-column field="name" header="Name"></p-column>
                <p-column field="type" header="Type"></p-column>
                <p-column styleClass="col-button" header="Action">
                    <ng-template let-dataset="rowData" pTemplate="body">
                        <button type="button" pButton icon="fa-pencil-square-o" title="Edit"
                                [routerLink]="'/management/projects/edit-project/' + project.id + '/edit-dataset/' + dataset.id">
                        </button>
                        <button type="button" pButton icon="fa-trash-o" title="Delete"
                                (click)="confirmDeleteDataset(dataset)"></button>
                    </ng-template>
                </p-column>
                <footer>
                    <div class="ui-helper-clearfix" style="width:100%">
                        <button type="button" pButton icon="fa-plus" style="float:right" label="Add"
                                [routerLink]="'/management/projects/edit-project/' + project.id + '/create-dataset'"></button>
                    </div>
                </footer>
            </p-dataTable>
        </div>
    </div>
    <div *ngIf="project.id" class="row mt-3 mb-3">
        <div class="col-md">
            <h4>Sites</h4>
            <p-dataTable [value]="sites" [paginator]="true" [rows]="10" [responsive]="true">
                <p-column field="name" header="Name"></p-column>
                <p-column field="code" header="Code"></p-column>
                <p-column field="comments" header="Comments"></p-column>
                <p-column styleClass="col-button" header="Action">
                    <ng-template let-site="rowData" pTemplate="body">
                        <button type="button" pButton icon="fa-pencil-square-o" title="Edit"
                                [routerLink]="'/management/projects/edit-project/' + project.id + '/edit-site/' + site.id">
                        </button>
                        <button type="button" pButton icon="fa-trash-o" title="Delete"
                                (click)="confirmDeleteSite(site)"></button>
                    </ng-template>
                </p-column>
                <footer>
                    <div class="ui-helper-clearfix" style="width:100%">
                        <button type="button" class="ml-1" pButton icon="fa-plus" style="float:right" label="Add"
                                [routerLink]="'/management/projects/edit-project/' + project.id + '/create-site'"></button>
                        <button type="button" pButton icon="fa-reply" style="float:right" label="Import"
                                [routerLink]="'/management/projects/edit-project/' + project.id + '/upload-sites'"></button>
                    </div>
                </footer>
            </p-dataTable>
        </div>
    </div>
</div>

<p-confirmDialog header="Confirm Delete" icon="fa fa-question-circle" width="425"></p-confirmDialog>
