<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <div class="row mt-1">
        <div class="col-md">
            <h3 *ngIf="site.id">Edit Site</h3>
            <h3 *ngIf="!site.id">Create Site</h3>
            <form (ngSubmit)="save()">
                <div class="ui-grid-row mb-1">
                    <div class="ui-grid-col-1"><label for="name">Name</label></div>
                    <div class="ui-grid-col-3">
                        <input id="name" type="text" pInputText [(ngModel)]="site.name" name="name"/>
                    </div>
                </div>
                <div class="ui-grid-row mb-1">
                    <div class="ui-grid-col-1"><label for="code">Code</label></div>
                    <div class="ui-grid-col-3">
                        <input id="code" type="text" pInputText [(ngModel)]="site.code" name="code"/>
                    </div>
                </div>
                <div class="ui-grid-row mb-1">
                    <div class="ui-grid-col-1"><label for="comments">Comments</label></div>
                    <div class="ui-grid-col-3">
                        <input id="comments" type="text" pInputText [(ngModel)]="site.comments" name="comments"/>
                    </div>
                </div>
                <button pButton type="submit" label="Save"></button>
            </form>
        </div>
    </div>
</div>
