<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <div class="row mt-1">
        <div class="col-md">
            <div class="mb-1">
                <h3 *ngIf="project.id">Project Details</h3>
                <h3 *ngIf="!project.id">Create Project</h3>
            </div>
            <div [hidden]="isEditing">
                <div class="ui-grid-row mb-1">
                    <div class="ui-grid-col-1"><label>Title</label></div>
                    <div class="ui-grid-col-3">
                        <label>{{project.title}}</label>
                    </div>
                </div>
                <div class="ui-grid-row mb-1">
                    <div class="ui-grid-col-1"><label>Code</label></div>
                    <div class="ui-grid-col-3">
                        <label>{{project.code}}</label>
                    </div>
                </div>
                <div class="ui-grid-row mb-1">
                    <div class="ui-grid-col-1"><label>Timezone</label></div>
                    <div class="ui-grid-col-3">
                        <label>{{project.timezone}}</label>
                    </div>
                </div>
                <div class="ui-grid-row mb-1">
                    <div class="ui-grid-col-1"><label>Datum</label></div>
                    <div class="ui-grid-col-3">
                        <label>{{project.datam}}</label>
                    </div>
                </div>
                <button pButton icon="fa-pencil-square-o" label="Edit" (click)="editProject()"></button>
            </div>
            <div [hidden]="!isEditing">
                <div class="ui-grid-row mb-1">
                    <div class="ui-grid-col-1"><label for="title">Title</label></div>
                    <div class="ui-grid-col-3">
                        <input id="title" type="text" pInputText [(ngModel)]="project.title" name="title"/>
                    </div>
                </div>
                <div class="ui-grid-row mb-1">
                    <div class="ui-grid-col-1"><label for="code">Code</label></div>
                    <div class="ui-grid-col-3">
                        <input id="code" type="text" pInputText [(ngModel)]="project.code" name="code"/>
                    </div>
                </div>
                <div class="ui-grid-row mb-1">
                    <div class="ui-grid-col-1"><label for="timezone">Timezone</label></div>
                    <div class="ui-grid-col-3">
                        <input id="timezone" type="text" pInputText [(ngModel)]="project.timezone" name="timezone"/>
                    </div>
                </div>
                <div class="ui-grid-row mb-1">
                    <div class="ui-grid-col-1"><label for="datam">Datum</label></div>
                    <div class="ui-grid-col-3">
                        <input id="datam" type="text" pInputText [(ngModel)]="project.datam" name="datam"/>
                    </div>
                </div>
                <button pButton icon="fa-save" label="Save" (click)="saveProject()"></button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-1">
        <div class="col-md">
            <h4>Datasets</h4>
            <p-dataTable [value]="datasets" [paginator]="true" rows="10" [responsive]="true">
                <p-column field="name" header="Name"></p-column>
                <p-column field="type" header="Type"></p-column>
                <p-column styleClass="col-button" header="Edit">
                    <template let-dataset="rowData" pTemplate type="body">
                        <button type="button" pButton icon="fa-pencil-square-o"
                                [routerLink]="'/projects/edit-project/' + project.id + '/edit-dataset/' + dataset.id">
                        </button>
                    </template>
                </p-column>
                <footer>
                    <div class="ui-helper-clearfix" style="width:100%">
                        <button type="button" pButton icon="fa-plus" style="float:right" label="Add"
                                [routerLink]="'/projects/edit-project/' + project.id + '/create-dataset'"></button>
                    </div>
                </footer>
            </p-dataTable>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md">
            <h4>Sites</h4>
            <p-dataTable [value]="sites" [paginator]="true" rows="10" [responsive]="true">
                <p-column field="name" header="Name"></p-column>
                <p-column field="code" header="Code"></p-column>
                <p-column field="comments" header="Comments"></p-column>
                <p-column styleClass="col-button" header="Edit">
                    <template let-site="rowData" pTemplate type="body">
                        <button type="button" pButton icon="fa-pencil-square-o"
                                [routerLink]="'/projects/edit-project/' + project.id + '/edit-site/' + site.id">
                        </button>
                    </template>
                </p-column>
                <footer>
                    <div class="ui-helper-clearfix" style="width:100%">
                        <button type="button" class="ml-1" pButton icon="fa-plus" style="float:right" label="Add"
                                [routerLink]="'/projects/edit-project/' + project.id + '/create-site'"></button>
                        <button type="button" pButton icon="fa-reply" style="float:right" label="Import"
                                [routerLink]="'/projects/edit-project/' + project.id + '/upload-sites'"></button>
                    </div>
                </footer>
            </p-dataTable>
        </div>
    </div>
</div>
