<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <div class="row mt-1">
        <div class="col-md">
            <div class="mb-1">
                <h3 *ngIf="project.id">Project Details</h3>
                <h3 *ngIf="!project.id">Create Project</h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row mb-1">
                        <div class="col-md-5"><label>Title</label></div>
                        <div class="col-md-7">
                            <label [hidden]="isEditing">{{project.title}}</label>
                            <input [hidden]="!isEditing" id="title" type="text" pInputText
                                   [(ngModel)]="project.title" name="title"/>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-5"><label>Code</label></div>
                        <div class="col-md-7">
                            <label [hidden]="isEditing">{{project.code}}</label>
                            <input [hidden]="!isEditing" id="code" type="text" pInputText [(ngModel)]="project.code"
                                   name="code"/>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-5"><label>Default Datum</label></div>
                        <div class="col-md-7">
                            <label [hidden]="isEditing" *ngIf="project.datum">{{getDatumLabel(project.datum)}}</label>
                            <p-dropdown [hidden]="!isEditing" [options]="datamTypeChoices"
                                        [(ngModel)]="project.datum" [ngModelOptions]="{standalone: true}"
                                        autoWidth="false" styleClass="w-100">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-5"><label>Timezone</label></div>
                        <div class="col-md-7">
                            <label [hidden]="isEditing">{{project.timezone}}</label>
                            <input [hidden]="!isEditing" id="timezone" type="text" pInputText
                                   [(ngModel)]="project.timezone"
                                   name="timezone"/>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-5"><label>Custodians</label></div>
                        <div class="col-md-7">
                            <label [hidden]="isEditing">{{getSelectedCustodiansLabel(project.custodians)}}</label>
                            <p-multiSelect [hidden]="!isEditing" *ngIf="custodianChoices" [options]="custodianChoices" [(ngModel)]="project.custodians"></p-multiSelect>
                        </div>
                    </div>
                    <button [hidden]="isEditing" pButton icon="fa-pencil-square-o" label="Edit"
                            (click)="editProject()"></button>
                    <button [hidden]="!isEditing" pButton icon="fa-save" label="Save" (click)="saveProject()">
                    </button>
                </div>
                <div class="col-md-8">
                    <div class="row mb-1">
                        <div class="col-md-1 offset-md-2"><label>Extent</label></div>
                        <div class="col-md-9">
                            <biosys-featuremap [isEditing]="isEditing"
                                               [geometry]="project.geometry"></biosys-featuremap>
                            <p [hidden]="!isEditing"
                               *ngIf="featureMapComponent.features && featureMapComponent.features.getLength()"
                               class="small">
                                To modify the extent, select the feature and drag the vertices to the desired location.
                            </p>
                            <p [hidden]="!isEditing" *ngIf="!featureMapComponent.features" class="small">
                                To draw the extent, click to place vertices and double-click to complete the feature.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-1">
        <div class="col-md">
            <h4>Datasets</h4>
            <p-dataTable [value]="datasets" [paginator]="true" rows="10" [responsive]="true">
                <p-column field="name" header="Name"></p-column>
                <p-column field="type" header="Type"></p-column>
                <p-column styleClass="col-button" header="Edit">
                    <template let-dataset="rowData" pTemplate type="body">
                        <button type="button" pButton icon="fa-pencil-square-o"
                                [routerLink]="'/projects/edit-project/' + project.id + '/edit-dataset/' + dataset.id">
                        </button>
                    </template>
                </p-column>
                <footer>
                    <div class="ui-helper-clearfix" style="width:100%">
                        <button type="button" pButton icon="fa-plus" style="float:right" label="Add"
                                [routerLink]="'/projects/edit-project/' + project.id + '/create-dataset'"></button>
                    </div>
                </footer>
            </p-dataTable>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md">
            <h4>Sites</h4>
            <p-dataTable [value]="sites" [paginator]="true" rows="10" [responsive]="true">
                <p-column field="name" header="Name"></p-column>
                <p-column field="code" header="Code"></p-column>
                <p-column field="comments" header="Comments"></p-column>
                <p-column styleClass="col-button" header="Edit">
                    <template let-site="rowData" pTemplate type="body">
                        <button type="button" pButton icon="fa-pencil-square-o"
                                [routerLink]="'/projects/edit-project/' + project.id + '/edit-site/' + site.id">
                        </button>
                    </template>
                </p-column>
                <footer>
                    <div class="ui-helper-clearfix" style="width:100%">
                        <button type="button" class="ml-1" pButton icon="fa-plus" style="float:right" label="Add"
                                [routerLink]="'/projects/edit-project/' + project.id + '/create-site'"></button>
                        <button type="button" pButton icon="fa-reply" style="float:right" label="Import"
                                [routerLink]="'/projects/edit-project/' + project.id + '/upload-sites'"></button>
                    </div>
                </footer>
            </p-dataTable>
        </div>
    </div>
</div>
