<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <div class="row mt-1">
        <div class="col-md">
            <h3>Data for {{dataset?.name}}</h3>
            <div class="data-table-container">
                <p-dataTable [tableStyle]="getDataTableWidth()" [value]="data" selectionMode="single" (onRowSelect)="onRowSelect($event)"
                             [paginator]="true" [rows]="15" [responsive]="true">
                    <p-column *ngFor="let f of dataset?.data_package?.resources[0]?.schema?.fields"
                              [field]="f.name" [header]="f.name">
                        <template let-datum="rowData" let-col pTemplate="body">
                            <span [innerHTML]="datum.data[col.field] | truncate:30"></span>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
