<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <biosys-breadcrumbs [items]="breadcrumbItems"></biosys-breadcrumbs>
    <p-growl [value]="messages"></p-growl>
    <div class="row mt-1">
        <div class="col-md">
            <h3>Records for {{dataset?.name}}</h3>
            <p>Select a particular record to edit or click Add to add a new record</p>
            <div class="data-table-container">
                <p-dataTable [tableStyle]="getDataTableWidth()" [value]="flatRecords" [emptyMessage]="tablePlaceholder"
                             [paginator]="true" [rows]="10" [globalFilter]="recordSearch">
                    <p-header>
                        <div class="ui-helper-clearfix" style="width:100%">
                            <i class="fa fa-search float-left mt-1 mr-1"></i>
                            <input #recordSearch type="text" class="float-left" pInputText placeholder="Search">
                        </div>
                    </p-header>
                    <p-column field="id" header="Record ID" [sortable]="true">
                        <ng-template let-flatRecord="rowData" pTemplate="body">
                            <a class="table-link" [routerLink]="'/data/projects/' + projId + '/datasets/' + datasetId + '/record/' + flatRecord.id">{{flatRecord.id}}</a>
                        </ng-template>
                    </p-column>
                    <p-column *ngFor="let field of dataset?.data_package?.resources[0]?.schema?.fields"
                              [field]="field.name" [header]="field.name" [sortable]="true">
                        <ng-template let-flatRecord="rowData" let-col pTemplate="body">
                            <span [innerHTML]="flatRecord[col.field] | truncate:30"></span>
                        </ng-template>
                    </p-column>
                    <p-footer>
                        <div class="ui-helper-clearfix" style="width:100%">
                            <button type="button" pButton icon="fa-plus" style="float:right" label="Add" (click)="add()"></button>
                        </div>
                    </p-footer>
                </p-dataTable>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md">
            <h4>Upload records</h4>
            <p>Select one or more Excel (xlxs) or CSV files to upload records for the {{ dataset.name }} dataset</p>
            <p-messages [value]="uploadErrorMessages"></p-messages>
            <p-messages [value]="uploadWarningMessages"></p-messages>
            <p-fileUpload name="file" [url]="uploadURL" accept=".csv,.xlsx"
                          (onUpload)="onUpload($event)" (onError)="onUploadError($event)"
                          (onSelect)="onUploadSelect($event)" (onBeforeSend)="onUploadBeforeSend($event)"
                          (onBeforeUpload)="onBeforeUpload($event)">
                <ng-template pTemplate="content">
                    <p-checkbox styleClass="mr-3" label="Create Sites"[(ngModel)]="uploadCreateSites" binary="true"></p-checkbox>
                    <p-checkbox label="Delete Existing Records"[(ngModel)]="uploadDeleteExistingRecords" binary="true"></p-checkbox>
                </ng-template>
            </p-fileUpload>
        </div>
    </div>
</div>
