<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <biosys-breadcrumbs [items]="breadcrumbItems"></biosys-breadcrumbs>
    <div class="row mt-1">
        <div class="col-md">
            <h3>Projects</h3>
            <p>Select a project to view available datasets to create / edit / delete records for</p>
            <p-dataTable [value]="projects" emptyMessage="No projects found" [paginator]="true" [rows]="15"
                         [responsive]="true">
                <p-column field="code" header="Code" [sortable]="true" [filter]="true">
                    <ng-template let-project="rowData" pTemplate="body">
                        <a class="table-link" [routerLink]="'/data/projects/' + project.id + '/datasets'">{{project.code}}</a>
                    </ng-template>
                </p-column>
                <p-column field="title" header="Title" [sortable]="true" [filter]="true"></p-column>
                <!--<p-column header="Custodians" [sortable]="true" [filter]="true"></p-column>-->
            </p-dataTable>
        </div>
    </div>
</div>
