<div class="container">
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <img class="card-img-top" src="/assets/img/biosys.png" alt="Card image cap">
                <div class="card-block">
                    <div [hidden]="!errorMessages" class="alert alert-danger" role="alert">
                        <ul class="m-b-0">
                            <li *ngFor="let message of errorMessages">{{message}}</li>
                        </ul>
                    </div>
                    <form [formGroup]="loginForm" (submit)="login($event)">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input id="username" type="text" pInputText [formControl]="username"/>
                            <div [hidden]="loginForm.controls['username'].valid"
                                 class="form-control-feedback has-danger">{{loginForm.controls['username'].error}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" type="password" pInputText [formControl]="password"/>
                            <div [hidden]="loginForm.controls['password'].valid"
                                 class="form-control-feedback has-danger">{{loginForm.controls['password'].error}}
                            </div>
                        </div>
                        <button pButton type="submit" label="Log in"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
