<div class="row">
    <nav class="navbar navbar-dark bg-inverse">
        <ul class="nav navbar-nav">
            <a class="navbar-brand" href="/">Biosys</a>
            <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Surveys</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/playground">Playground</a>
            </li>
        </ul>
        <a class="btn btn-secondary float-xs-right" (click)="logout()">Logout</a>
    </nav>
</div>
