:host {
    display: block;
    padding: 0 16px;
}

input {
    width: 250px;
}

ul {
    list-style-type: none;
    padding: 0 0 0 8px;
}

.sebm-google-map-container {
    height: 500px;
    width: 400px;
}

h2 {
    display: inline-block;
}

.card-block {
    padding-bottom: 0px;
}

.main-section {
    height: 478px;
}

.statistics-card {
    height: 100%;
}
