<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
	<div class="row m-t-1">
	    <div class="col-md-9">
	        <div class="row">
	            <h3>Welcome to Biosys</h3>
	            <p>
	                Biosys is a repository for storing and retrieving biological data. To get started, create a project
	                and then a schema for your observations. Optionally add sites to your project to which your observations
	                will be tied to. Once you've done this, you're ready to get out in the field and start surveying!
	                The results of your survey can then be loaded into Biosys to be stored forever.
	            </p>
	        </div>
	        <div class="row">
	            <statistics></statistics>
	        </div>
	        <div class="row">
	            <map></map>
	        </div>
	    </div>
	    <div class="col-md-3">
	    
	    </div>
	</div>
</div>