<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <div class="row mt-3">
        <div class="col-md">
            <p-dataTable [value]="projects" selectionMode="single" [(selection)]="selectedProject" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
                <p-column field="title" header="Title" [sortable]="true"></p-column>
                <p-column field="code" header="Code"></p-column>
                <p-column styleClass="col-button" header="Edit">
                    <template let-project="rowData" pTemplate type="body">
                        <button type="button" pButton (click)="editProject(project)" icon="fa-pencil-square-o"></button>
                    </template>
                </p-column>
                <footer>
                    <div class="ui-helper-clearfix" style="width:100%">
                        <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
                    </div>
                </footer>
            </p-dataTable>
        </div>
    </div>
</div>
