<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <biosys-breadcrumbs [items]="breadcrumbItems"></biosys-breadcrumbs>
    <div class="row mt-1">
        <div class="col-md">
            <h3>View and Export Records</h3>
            <p>
                Step 1: Find the appropriate dataset to export records from using the filtering mechanisms. From
                there, click on the appropriate dataset to show the corresponding records.
            </p>
            <div class="row">
                <div class="col-3">
                    <p-dropdown [(ngModel)]="projectId" (onChange)="filter()" [options]="projectDropdownItems" [filter]="true"
                                [style]="{'width': '100%', 'font-weight': 'bold'}" >
                    </p-dropdown>
                </div>
                <div class="col-3">
                    <p-calendar placeholder="Start Date" (onSelect)="filter()" yearNavigator="true" yearRange="2000:2020"
                                [(ngModel)]="dateStart" dateFormat="dd/mm/yy">
                    </p-calendar>
                </div>
                <div class="col-3">
                    <p-calendar placeholder="End Date" (onSelect)="filter()" [(ngModel)]="dateEnd" yearNavigator="true"
                                yearRange="2000:2020" dateFormat="dd/mm/yy">
                    </p-calendar>
                </div>
                <div class="col-4">
                    <label>Species</label>
                    <p-autoComplete [(ngModel)]='speciesName'
                                    [style]="{'width': '100%', 'font-weight': 'bold'}"
                                    [dropdown]="true"
                                    [suggestions]="speciesFiltered"
                                    (completeMethod)="filterSpecies($event)"
                                    (onDropdownClick)="onSpeciesDropdown($event)"
                                    placeholder="Species name"
                                    >
                    </p-autoComplete>
                </div>
                <div class="col-2 offset-2">
                    <button pButton styleClass="pull-right" type="button" label="Search" (click)="search()"></button>
                </div>
            </div>
            <p-dataTable selectionMode="single" [(selection)]="selectedDataset" (onRowSelect)="selectDataset($event)"
                         [value]="datasets" emptyMessage="" [paginator]="true" [rows]="10" [responsive]="true">
                <p-column field="name" header="Name" [sortable]="true"></p-column>
                <p-column field="type" header="Type" [sortable]="true"></p-column>
                <p-column header="Project" [sortable]="true">
                    <template let-dataset="rowData" pTemplate="body">
                        <span>{{projectsMap[dataset.project]}}</span>
                    </template>
                </p-column>
            </p-dataTable>

            <div [hidden]="!selectedDataset" class="mt-5 mb-5">
                <p>
                    Step 2: You can further refine the records by adjusting the filtering mechanisms above. When you are
                    satisfied with the results, click Export to export the records shown below to an Excel spreadsheet.
                </p>
                <div class="data-table-container">
                    <p-dataTable [tableStyle]="getDataTableWidth()" [value]="records" [paginator]="true" [rows]="10"
                                 [responsive]="true">
                        <p-column *ngFor="let field of selectedDataset?.data_package?.resources[0]?.schema?.fields"
                                  [field]="field.name" [header]="field.name" [sortable]="true">
                            <template let-record="rowData" let-col pTemplate="body">
                                <span [innerHTML]="record.data[col.field] | truncate:30"></span>
                            </template>
                        </p-column>
                    </p-dataTable>
                </div>

                <a [href]="exportURL" style="float:right" label="Export">Export</a>
            </div>
        </div>
    </div>
</div>
