<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <biosys-breadcrumbs [items]="breadcrumbItems"></biosys-breadcrumbs>
    <div class="row mt-1">
        <div class="col-md">
            <h3>View and Export Records</h3>
            <p>
                Step 1: Click on the  appropriate dataset to show the corresponding records to export. You can refine
                the datasets and records using the filters below. Note that the species filter only shows species of
                records already in the system.
            </p>
            <div class="row">
                <div class="col-3">
                    <p-dropdown [(ngModel)]="projectId" (onChange)="filter()" [options]="projectDropdownItems" [filter]="true"
                                [style]="{'width': '100%', 'font-weight': 'bold'}" >
                    </p-dropdown>
                </div>
                <div class="col-2">
                    <p-calendar placeholder="Start Date" (onSelect)="filter()" yearNavigator="true" yearRange="2000:2020"
                                [(ngModel)]="dateStart" dateFormat="dd/mm/yy">
                    </p-calendar>
                </div>
                <div class="col-3">
                    <p-calendar placeholder="End Date" (onSelect)="filter()" [(ngModel)]="dateEnd" yearNavigator="true"
                                yearRange="2000:2020" dateFormat="dd/mm/yy">
                    </p-calendar>
                </div>
                <div class="col-3">
                    <p-dropdown [(ngModel)]="speciesName" (onChange)="filter()" [options]="speciesDropdownItems" [filter]="true"
                                [style]="{'width': '100%', 'font-weight': 'bold'}" >
                    </p-dropdown>
                </div>
                <div class="col-1">
                    <button pButton class="float-right" type="button" label="Reset" (click)="reset()"></button>
                </div>
            </div>
            <h4>Datasets</h4>
            <p-dataTable selectionMode="single" [(selection)]="selectedDataset" (onRowSelect)="selectDataset($event)"
                         [value]="datasets" [paginator]="true" [rows]="10" [responsive]="true">
                <p-column field="name" header="Name" [sortable]="true"></p-column>
                <p-column field="type" header="Type" [sortable]="true"></p-column>
                <p-column header="Project" [sortable]="true">
                    <ng-template let-dataset="rowData" pTemplate="body">
                        <span>{{projectsMap[dataset.project]}}</span>
                    </ng-template>
                </p-column>
            </p-dataTable>

            <div *ngIf="selectedDataset" class="mt-5">
                <p>
                    Step 2: You can further refine the records by adjusting the filtering mechanisms above. When you are
                    satisfied with the results, click Export to export the records shown below to an Excel spreadsheet.
                </p>
                <h4>Records for {{selectedDataset?.name}}</h4>
                <div class="data-table-container">
                    <p-dataTable [tableStyle]="getDataTableWidth()" [value]="records" [paginator]="true" [rows]="10"
                                 [responsive]="true"
                                 [emptyMessage]="records == null ? 'Loading records': 'No records found'">
                        <p-column *ngFor="let field of selectedDataset?.data_package?.resources[0]?.schema?.fields"
                                  [field]="field.name" [header]="field.name" [sortable]="true">
                            <ng-template let-record="rowData" let-col pTemplate="body">
                                <span [innerHTML]="record.data[col.field] | truncate:30"></span>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>

                <a class="mt-3 mb-3" [href]="exportURL" style="float:right">
                    <button pButton type="button" label="Export"></button>
                </a>
            </div>
        </div>
    </div>
</div>
