<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <div class="row mt-1">
        <h3>Upload Sites (xlsx/csv files)</h3>
        <div class="row mt-2">
            <p-messages [value]="messages"></p-messages>
        </div>
    </div>
    <p-fileUpload name="file" [url]="url"
                  auto="auto"
                  accept=".csv,.xlsx"
                  (onUpload)="onUpload($event)"
                  (onError)="onError($event)"
                  (onSelect)="onSelect($event)"
                  (onBeforeSend)="onBeforeSend($event)"
    >
    </p-fileUpload>
</div>
