<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <biosys-breadcrumbs [items]="breadcrumbItems"></biosys-breadcrumbs>
    <p-growl [value]="messages"></p-growl>
    <div *ngIf="record">
        <div class="row mt-1">
            <div class="col">
                <h3 *ngIf="record.id">Edit Record</h3>
                <h3 *ngIf="!record.id">Create Record</h3>
                <p *ngIf="record.id">Edit the record by changing the details below.</p>
                <p *ngIf="!record.id">Create the record by entering the details below.</p>
            </div>
        </div>

        <div class="row mt-1" *ngFor="let field of dataset?.data_package?.resources[0]?.schema?.fields">
            <div class="col-2">
                <label [for]="field.name">{{field.name}}</label>
            </div>
            <div [ngSwitch]="field.type" class="col-2">
                <div *ngSwitchCase="'date'">
                    <p-calendar *ngIf="field.type === 'date'" dateFormat="dd/mm/yy"
                                [id]="field.name" [(ngModel)]="record.data[field.name]">
                    </p-calendar>
                </div>
                <div *ngSwitchDefault>
                    <p-dropdown *ngIf="field.constraints?.enum"
                                [options]="getDropdownOptions(field.name, field.constraints.enum)"
                                [(ngModel)]="record.data[field.name]"
                                [style]="{'width': '187px', 'font-weight': 'bold'}">
                    </p-dropdown>
                    <input *ngIf="!field.constraints?.enum" pInputText [id]="field.name"
                           [(ngModel)]="record.data[field.name]"/>
                </div>
            </div>
            <div class="col text-danger">
                {{recordErrors[field.name]}}
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-2">
                <button pButton icon="fa-close" (click)="confirmDelete()" label="Delete"></button>
            </div>
            <div class="col-4">
                <button pButton icon="fa-close" label="Cancel" (click)="cancel()"></button>
                <button pButton icon="fa-check" (click)="save()" label="Save"></button>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirm Delete" icon="fa fa-question-circle" width="425"></p-confirmDialog>
